<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div>
	   <p>
	   	  <span>{{products.name}}</span><br><br>
	      <span *ngIf="products.rating != 0">Rating: {{products.rating}} <img class = "ali" src = "https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Star_red.svg/1200px-Star_red.svg.png" alt = "*"></span><br><br>
	      <span>Price: {{products.price}} tenge <br><br></span>
	      {{ products.description }}
	  </p>
		  <button shareButton="facebook" [style.backgroundColor]="share.prop.facebook.color">
		  	<a class="fa fa-facebook"></a>
		  </button>	
		  <button shareButton="twitter" [style.backgroundColor]="share.prop.twitter.color">
		  	<a class="fa fa-twitter"></a>
		  </button>	
		  <button shareButton="pinterest" [style.backgroundColor]="share.prop.pinterest.color">
             <a class="fa fa-pinterest"></a>		  
         </button>	
  </div>
